* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header {
    padding: 20px 0 20px 5%;
    background-image: linear-gradient(#f6f6f6 0%, #e2e2e2 100%);
    border-bottom: 1px solid #ccc;
}

#logo {
    width: 20%;
}

.card {
    display: inline-block;
    width: 7.5%;
    height: 0;
    padding-bottom: 9.975%;
    margin: 0 2.5% 40px;
    border-radius: ~"3.25%/2.44%";
    background-image: url("/img/card.png");
    background-repeat: none;
    background-size: cover;
    box-shadow: 0 0 2px #bbb;
    &.up {
        background-image: none;
    }
    &.matching, &.mismatching {
        .indicator {
            display: block;
            position: absolute;
            font-size: 100px;
            text-align: center;
            width: 100%;
            height: 100px;
            top: 50%;
            margin-top: -50px;
            opacity: 0;
            text-shadow: 2px 2px 5px #666;
            animation-name: indicateMatch; 
            animation-duration: .75s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
    }
    &.matching {
        color: green;
    }
    &.mismatching {
        color: red;
    }
    &.removed {
        transition: all .4s ease-in-out;
        visibility: hidden;
        opacity: 0;
    }
}

#launchButton {
     width: 20%;
     margin: 40px auto;
     text-align: center;
     padding: 1.2% 0;
     font-size: 50px;
     border-radius: 15px;
     border: 1px solid #bbb;
     background-image: linear-gradient(#fbc00e 0%, #e7664f 50%, #da2a7a 100%);
     text-shadow: 0 0 3px #ccc;
     text-transform: uppercase;
     &.focussed {
         color: #222;
     }
     &:hover {
         color: #222;
     }
}

.boardItem {
    position: relative;
    color: #555;
    cursor: pointer;
    &.focussed {
        box-shadow: 0 0 2px white, 0 0 9px #e7664f, 0 0 9px #e7664f;
    }
}

#sessionState, #stats {
    float: right;
    width: 17.5%;
    margin-right: 2.5%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#stats {
    width: 18.42%;
    background-color: rgba(255, 255, 255, .5)
}

.infoPair {
    label, .value {
        display: inline-block;
    }
    label {
        width: 60%;
    }
    .value {
        width: 40%;
        text-align: right;
    }
}

#mask {
     position: fixed;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(128, 128, 128, .5);
}

#successDialog {
     position: fixed;
     width: 30%;
     top: 50%;
     left: 35%;
     background-color: white;
     padding: 20px;
     border: 1px solid #777;
     border-radius: 10px;
     text-align: center;
     input {
          font-size: 18px;
     }
}

@keyframes indicateMatch {
    from {
        opacity: 0; 
    }
    to {
        opacity: 100; 
    }
}
